DATA_DIR_PATH="data/"

CACHE_MAX_SIZE_IN_GB=500

NODE_NAME="main"

#
# Input storage, S3-compatible (GRIN Transfer, Google Books .tar.gz files)
#
GRIN_DATA_RUN_NAME="" # GRIN Transfer: run name (path)
GRIN_DATA_RAW_BUCKET="" # GRIN Transfer: "raw" bucket name
GRIN_DATA_ENDPOINT=""
GRIN_DATA_ACCESS_KEY_ID=""
GRIN_DATA_SECRET_ACCESS_KEY=""
GRIN_DATA_REGION="auto"

#
# Output storage, S3-compatible
#
OUTPUT_BUCKET_NAME=""
OUTPUT_ENDPOINT=""
OUTPUT_ACCESS_KEY_ID=""
OUTPUT_SECRET_ACCESS_KEY=""
OUTPUT_REGION="auto"

#
# PostgreSQL database
#
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_SSLMODE="require"

#
# HuggingFace
#
#HF_TOKEN=""
#HF_HOME="/path/to/hf-cache"
HF_HUB_DISABLE_TELEMETRY=1

#
# Compute restrictions
#
# See: const/__init__.py for details
#CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7
#CPUS_LIMIT=256
PIPELINE_BATCH_TIMEOUT_SECONDS=14400 # Allows for unlocking stale batch locks
DETECTION_MODEL_PROCESSES_PER_GPU=6
DETECTION_MODEL_PROCESSES_FORK_DELAY=0.5

#
# Misc
#
# See: const/__init__.py for details
MAX_S3_CONCURRENCY=16 # How many operations can we run in parallel against S3 (compatible) storage
MAX_DB_CONCURRENCY=32 # How many operations can we run in parallel against the database
DISABLE_TELEMETRY=1